html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body, h1 {
  margin: 0;
  padding: 0;
}

h1, .names, .container {
  width: 60%;
}

h1 {
  text-align: center;
}

.names {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.player-one, .player-two {
  display: flex;
  gap: 10px;
}

#player-one, #player-two {
  width: 10 0px;
}